.login{
    text-align: center;
    margin: 130px 130px 0 130px;
   border-style: dashed;
   border-color:lightblue;
   padding: 0 0 10px 0;
   }
   .form-label{
       font-weight: bold;
       text-align: left;
       margin: 10px 20px 10px 10px;
   }
   .form-input{
       margin: 10px 10px 10px 20px;
      
   }
   .form-button{
       text-align: center
   }